.container{
    width: 100%;
    height: 1975px;
    background-color: white;
  border: 3px red solid;
}

/* header */
 header{
    width: 100%;
    height: 140px;
    background-color: black;
   
 }
 ul{
    color: white;
display: flex;
column-gap: 30px;
justify-content: center;
align-items: center;
 }
.list{
    font-size: 22px;
    margin-top: 60px;
    font-family: 'Ubuntu', sans-serif;
}
 li:first-child{
    color: rgb(253, 175, 119);
 }

.fa-bag-shopping{
    font-size: 22px;
    color: white;
    margin-left: 550px;
    margin-top: 60px;
}

/* section1 */
.section1{
    width: 100%;
    height: 37%;
    position: relative;
    
}
.section_img{
    width: 100%;
    height: 730px;
    object-fit: cover;
   
  
}

.box{
    width: 65%; 
    height: 20%;
    border: 1px rgb(250, 248, 248) solid;
 background-color: rgba(240, 217, 201, 0.7);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   


}
.box_text{
    font-size: 65px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(47, 34, 4)
    
}

/* section2 */
.section_2{
    width: 100%;
    height: 760px;
    padding: 90px;
    /* border: #E08C11 10px solid; */
}
.cards_div{
    width: 100%;
/* border: 10px #DCB47A solid; */
display: flex;
flex-direction: column;
}

.title{
     color: #E08C11;
    font-size: 75px;
    margin-bottom: 50px; 
}

.cards{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
.card1{
    border: 3px #DCB47A solid;
    border-radius: 40px;
    width: 390px;
    height: 360px;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;   
}
.text_title{
    font-size: 20px;
    margin-top: 20px;
}
.price{
    color: #E08C11;
    font-size: 20px;
}

.image{
width: 308px;
height: 225px;
border-radius: 40px, 40px, 0px, 0px;
}


/* footer */